<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Importar el módulo: pandas.

In [127]:
import pandas as pd

Convertir el conjunto de datos a dataframe.

In [128]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Encontrar duplicados.

En esta sección se identificaran valores duplicados en el conjunto de datos.
Encuentre cuántas filas duplicadas existen en el marco de datos.

In [129]:
num_rows = len(df)

duplicate_rows = df[df.duplicated()]

num_duplicates = df.duplicated().sum()
print("Numero de filas:", num_rows)
print("Numero de filas duplicadas:", num_duplicates)

Numero de filas: 11552
Numero de filas duplicadas: 154

In [54]:
num_rows = len(df)

duplicate_rows_respondent = df[df.duplicated(['Respondent'])]

num_duplicates_respondent = df.duplicated().sum()
print("Numero de filas:", num_rows)
print("Numero de filas duplicadas:", num_duplicates_respondent)

Numero de filas: 11552
Numero de filas duplicadas: 154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [130]:
# Delete the duplicated rows
df.drop_duplicates(inplace=True)

# Write the modified dataframe back to CSV file
#df.to_csv(csv_file_path, index=False)

Verify if duplicates were actually dropped.

In [131]:
num_rows = len(df)
print("Number of rows after removing duplicates:", num_rows)

Number of rows after removing duplicates: 11398

## Finding Missing values

Find the missing values for all columns.

In [132]:
missing_values = df.isnull().sum()
print("Missing values for each column:")
print(missing_values)

Missing values for each column:
Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [133]:
df['WorkLoc'].isnull().sum()
#32

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [134]:
df['WorkLoc'].count()
#11366

11366

Identify the value that is most frequent (majority) in the WorkLoc column.

In [86]:
#make a note of the majority value here, for future reference >>>>>> Home
most_frequent = df['WorkLoc'].mode
print(most_frequent)

<bound method Series.mode of 0                                                  Home
1                                                Office
2                                                  Home
3                                                  Home
4        Other place, such as a coworking space or cafe
                              ...
11547                                              Home
11548                                              Home
11549                                            Office
11550                                              Home
11551                                            Office
Name: WorkLoc, Length: 11398, dtype: object>

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [135]:
missing = df['WorkLoc'].isnull()

# Replace the missing values with 'home'
df.loc[missing, 'WorkLoc'] = 'Home'

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [136]:
print('Filas con valores nulos en la columna WorkLoc = ',df['WorkLoc'].isnull().sum())

Filas con valores nulos en la columna WorkLoc =  0

In [138]:
df.groupby('CompFreq')['CompFreq'].count()

CompFreq
Monthly    4788
Weekly      331
Yearly     6073
Name: CompFreq, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [89]:
df["CompFreq"] = pd.Categorical(df["CompFreq"])

# get the list of categories
categories = df["CompFreq"].cat.categories

# print the categories
print(categories)

Index(['Monthly', 'Weekly', 'Yearly'], dtype='object')

In [90]:
print(df['CompFreq'].unique())

['Yearly', 'Monthly', 'Weekly', NaN]
Categories (3, object): ['Monthly', 'Weekly', 'Yearly']

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [98]:
def fillComp(freq,total):

    if freq == 'Yearly':

        return total

    elif freq == 'Monthly':

        return total * 12

    elif freq == "Weekly":

        return total * 52

df['NormalizedAnnualCompensation'] = df.apply(lambda row : fillComp(row['CompFreq'],row['CompTotal']), axis = 1) 

df['NormalizedAnnualCompensation'].median()

100000.0

In [99]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase',
       'NormalizedAnnualCompensation'],
      dtype='object')

In [106]:
print(df['NormalizedAnnualCompensation'].median())
print(df['NormalizedAnnualCompensation'].mean())

100000.0
6136037.047340074

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).